<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- Dynamic log file path set from UI code -->
  <variable name="logPath" value="autoLogGen/logGen.txt" />

  <targets async="true">
    <target name="logfile" 
            xsi:type="File"
            fileName="${var:logPath}"
            layout="${message}"
            keepFileOpen="true"
            concurrentWrites="false"
            bufferSize="65536"
            autoFlush="false"
            openFileFlushTimeout="1" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>