<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warning"
      internalLogFile="${basedir}/logs/LogWatcher.Agent.internal-nlog.txt">

  <!-- Extensions -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- Targets -->
  <targets>
    <default-wrapper xsi:type="AsyncWrapper" overflowAction="Block" />

    <target xsi:type="File"
            name="logfile"
            fileName="${basedir}/logs/LogWatcher.Agent.${shortdate}.log"
            layout="${longdate}[${level:uppercase=true}]${message} ${exception:format=tostring} [${logger}]"
            archiveEvery="Day"
            maxArchiveFiles="14" />

    <target xsi:type="Console"
            name="logconsole"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- Rules -->
  <rules>
    <logger name="Microsoft.AspNetCore.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
  </rules>
</nlog>